@import "../../scss/scss.scss";

.container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    height: 100%;

    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    
    scroll-timeline-name: --textTimeline;

    
    
}    

.video {
    z-index: -999;
    position: absolute;
    opacity: 0.2;
    pointer-events: none;
    object-fit: contain;
    
}    

.main {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    width: 90%;
    height: auto;
    
    z-index: 1;
    
}    

.fotoPerfil {
    max-width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    opacity: 0;
    animation: fadeIn 1s;
    animation-delay: 0.5;
    animation-fill-mode: forwards;

    background: #0086ab1e;

}





.section1 {
    width: 100%;
    height: 100vh;
    @include center-flex;
    flex-direction: column;


    h1 {
        width: 100%;
        @include center-flex;
        font-family: "Exo", sans-serif;
        font-size: xx-large;
        font-style: italic;
        font-weight: 200;
        color: white;
        text-shadow: 0.2px 0.2px rgba(255, 255, 255, 0.507);

        animation: writeAnimation linear both;
        animation-timeline: view();
        animation-range: cover 0% cover 50%;

    }

}    
.apresetation {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    
    
    
    
    
    .text {
        width: 100%;
        height: 50%;
        @include center-flex;
        opacity: 0;
        
        animation: fadeIn 2s;
        animation-delay: 0.7s;
        animation-fill-mode: forwards;
        
        
        
    }
    
    h2 {
        width: 100%;
        font-family: "Exo", sans-serif;
        font-style: italic;
        font-weight: 200;
        color: white;
        left: 100%;
        text-align: justify;
        text-shadow: 0.2px 0.2px rgba(255, 255, 255, 0.507);
        
        
        
    }
}

.section2 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;



    .textContainer{
        width: 60%;

        animation: rightScroll linear both;
        animation-timeline: view();
        animation-range: cover 0% cover 50%;

    }    
    h2 {
        width: 90%;
        font-family: "Exo", sans-serif;
        font-style: italic;
        font-weight: 200;
        color: $color-primary;
        text-align: center;
        text-shadow: 0.2px 0.2px rgba(255, 255, 255, 0.507);
    }    
    p {
        width: 90%;
        margin-top: 1rem;
        font-family: 'Exo', sans-serif;
        font-weight: 200;
        font-size: large;
        line-height: 30px;
        text-align: justify;

    }    
}    

.section3 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    background-color: rgba(240, 248, 255, 0.027);
    border-radius: 10px;
 


    .textContainer{
        width: 60%;

        animation: rightScroll2 linear both;
        animation-timeline: view();
        animation-range: cover 0% cover 50%;

    }    
    h2 {
        width: 90%;
        font-family: "Exo", sans-serif;
        font-style: italic;
        font-weight: 200;
        color: $color-primary;
        text-align: center;
        text-shadow: 0.2px 0.2px rgba(255, 255, 255, 0.507);
    }    
    p {
        text-align: justify;
        width: 90%;
        margin-top: 1rem;
        font-family: "Exo", sans-serif;
        font-weight: 200;
        font-size: large;
        line-height: 30px;

    }    
}    

.section4 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    background-color: rgba(240, 248, 255, 0.027);
    border-radius: 10px;
 

    .conteiner1{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


  
        h2 {
            width: 90%;
            text-align: center;
            font-family: "Exo", sans-serif;
            font-style: italic;
            font-weight: 200;
            color: $color-primary;
            text-shadow: 0.2px 0.2px rgba(255, 255, 255, 0.507);
        }    
        ul {
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 1rem;
            font-family: 'Exo', sans-serif;
            font-weight: 200;
            font-size: large;
            line-height: 30px;

            list-style: none;



            li {
                margin: 5px;
                padding: 5px;
                border: 1px solid #0086ab91;
                border-radius: 15px;

                animation: blueOff linear both;
                animation-timeline: view();
                animation-range: cover 0% cover 32%;

                strong {
                    font-weight: 500;
                }
            }
    
        }    
    }    

    .conteiner2{
        width: 30%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: rightScroll linear both;
        animation-timeline: view();
        animation-range: cover 0% cover 50%;

        ul {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
            margin-top: 1rem;
            font-family: 'Exo', sans-serif;
            font-weight: 200;
            font-size: x-large;
            line-height: 30px;

            flex-wrap: wrap;

            list-style: none;



            li {
                margin: 5px;
                padding: 5px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                


                flex: 0 0 35%;

                .icons {
                    width: 40px;
                    height: auto;
                    color: $color-primary;

                }
                .icons1 {
                    animation: icons1 3s ease infinite;
                }
                .icons2 {
                    animation: icons2 3s ease infinite;
                }
                .icons3 {
                    animation: icons3 3s ease infinite;
                }
                .icons4 {
                    animation: icons4 3s ease infinite;
                }
                .icons5 {
                    animation: icons5 3s ease-in infinite;
                }

            }

    
        }    


    }
}    


.techHeartContainer {
    @include center-flex;
    height: 100%;
    width: 30%;
    animation: rightScroll2 linear both;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;


}    

.techHeartImg {
    width: 300px;
    height: auto;
    animation: heartBeat 1s linear infinite;
}    

.arrowImgContainer {
    @include center-flex;
    width: 30%;


}
.arrowImg {
    width: 300px;
    height: auto;
    animation: arrowGrow 3s linear infinite;


}

.transitionImgContainer {
    @include center-flex;
    width: 30%;
}

.transitionImg {
    width: auto;
    height: auto;
    border-radius: 50%;
    animation: transitionTree 7s ease-in-out infinite;
}


.lightIcon {
    width: 80px;
    height: auto;
    color: white;

    border-radius: 50%;

    animation: yellowLight linear both;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}




@keyframes fadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
    
    
}

@keyframes blueOff {
    from {
        background: #54c4e4;
    } 

    to {
        background: none;
    }
}

@keyframes rightScroll {
    from {
        opacity: 0;
        translate: 100vw 0;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}
@keyframes rightScroll2 {
    from {
        opacity: 0;
        translate: -100vw 0;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}


@keyframes heartBeat {
    to {
        width: 330px;
    }
}

@keyframes transitionTree {
      0% {
        clip-path: circle(0);;
        opacity: 0;
      }
      50% {
        clip-path: circle(100%);;
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

@keyframes arrowGrow {
    0% {
      clip-path: inset(100% 100% 0 0);
      opacity: 0;
    }
    50% {
      clip-path: inset(0 0 0 0);
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  
  @keyframes showBg {
      0% {
          opacity: 0;
        }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes writeAnimation {
    from {
        clip-path: inset(0 100% 0 0);
        
    }
    to {
        clip-path: inset(0 0 0 0);
        
    }
    
}

@keyframes yellowLight {
    0% {
        color: white;
    }
    100% {
        color: gold;
        box-shadow: 0 -50px 15px rgba(255, 255, 0, 0.336);
    }
}
@keyframes yellowLightForMobile {
    0% {
        color: white;
    }
    100% {
        color: gold;
        
    }
}
@keyframes  icons1{
    to {
        transform: rotateX(360deg);
    }
}
@keyframes icons2 {
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes icons3 {
    to {
        transform: rotate3d(1, 1, 1, 360deg);
    }
}

@keyframes icons4 {
    to {
        transform: rotateY(360deg);
    }
}

@keyframes icons5 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}



@media (max-width: 678px) {
    .apresetation {
        width: 100%;
    }
    .section4 {
        flex-direction: column;
        border: 1px solid rgba(240, 248, 255, 0.274);

        .conteiner1 {
            width: 100%;

            h2 {
                width: 100%;
                padding-right: 0;
            }

            ul {
                width: 100%;
                margin-top: 5px;

            }
            
        }
        
        .conteiner2 {
            width: 100%;

            animation-range: cover 0% cover 22%;


            ul {
                width: 100%;
                height: auto;

                li {
                    font-size: large;
                    padding-bottom: 20px;
                }
            }
        }
    }

    .section2 {
        flex-direction: column;
        justify-content: center;

        .textContainer {
            width: 100%;

            animation-range: cover 0% cover 35%;
        }
    }

    .techHeartContainer {
        height: 40%;
        width: 100%;
    }
    .section3 {
        flex-direction: column;
        border: 1px solid rgba(240, 248, 255, 0.274);
        justify-content: center;

        .textContainer {
            margin-top: 2rem;
            width: 90%;
            animation-range: cover 0% cover 25%;
        }
    }
    .pictureMe {
        height: 100%;
        width: auto;
        object-fit: cover;
    }

    .transitionImgContainer {
        height: 40%;
        width: 100%;
    }
    .transitionImg {
        height: 100%;
    }

    .section1 {
        h1 {
            text-align: center;
            font-size: large;
        }
    }

    .lightIcon {
        animation: yellowLightForMobile 3s ease-out infinite;
    }


}

